SERVER_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/avito?sslmode=disable

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=avito
POSTGRES_PORT=5432

MAX_REVIEWERS=2

LOG_LEVEL=info
